@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&family=Nanum+Gothic&family=Poor+Story&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Hi+Melody&family=Nanum+Gothic&family=Poor+Story&display=swap");

* {
  box-sizing: border-box;
}
#foodlist-main {
  overflow-x: hidden;
}
.back-page {
  width: 100%;
  border: 1px solid black;
  border: none;
}
.back-img-wrapper {
  width: 100%;
  position: relative;
  display: flex;
}
.back-detail-img1,
.back-detail-img2,
.back-detail-img3,
.back-detail-img4 {
  width: 320px;
  height: 320px;
}
.back-detail-img4 {
  width: 320px;
  height: 320px;
  padding: 0 12px;
  position: relative;
  left: 12px;
}
.backMap-container {
  width: 100%;
  height: 320px;
}
@media screen and (max-width: 48rem) {
  .back-page {
    overflow-x: hidden;
  }
  .back-detail-img1,
  .back-detail-img2 {
    width: 10rem;
    height: 10rem;
  }
  .back-detail-img3,
  .back-detail-img4 {
    width: 10.5rem;
    height: 10rem;
    margin-top: 15px;
  }

  .back-detail-img4 {
    width: 100%;
    position: relative;
    right: 20px;
  }

  .backMap-container {
    height: 200px;
    position: relative;
    right: 10px;
  }
  .back-img-wrapper {
    position: relative;
    left: 10px;
  }
}
.back-detail-name {
  font-family: "SpoqaHanSans", "Noto Sans SC", "APPLE SD Gothic NEO",
    "sans-serif";
  font-size: 25px;
  border-bottom: 1px solid #6c757d;
  height: 120px;
  display: flex;
  align-items: center;
}
.shop-title {
  height: 200px;
  border-bottom: 1px solid #6c757d;
}
.back-detail-item-wrapper {
  height: 200px;
  font-size: 17px;
  position: relative;
  top: 15px;
}

.back-detail-item-wrapper tr {
  margin-top: 10px;
}

.back-detail-item-name {
  color: #6c757d;
  cursor: no-drop;
}
.back-page {
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
}
.gu-container,
.re-container,
.back-container {
  border-bottom: 1px solid black;
}
.gu-name,
.re-name,
.back-name {
  padding: 25px;
  font-size: 30px;
  font-weight: 800;
  font-family: "Frank Ruhl Libre", serif;
}

.gu-list1,
.re-list1,
.back-list1 {
  cursor: pointer;
}
.gu-img,
.re-img,
.back-img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
}
.gu-img:hover,
.re-img:hover,
.back-img:hover {
  transform: scale(1.2);
}
.gu-img:hover ~ p,
.re-img:hover ~ p,
.back-img:hover ~ p {
  text-decoration: underline;
  color: #ff2727;
}
.gu-title,
.re-title,
.back-title {
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 3px;
  font-family: "Pretendard", "Segoe UI", -apple-system, BlinkMacSystemFont,
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.re-address,
.back-address {
  font-size: 13px;
  position: relative;
  bottom: 10px;
}
/* 맛집 INPUT 창 */
.search-input-wrapper {
  background-image: url("./../imgs/inputbg.png");
  width: 100vw;
  height: 220px;
  background-position: 50% 60%;
  background-size: cover;
  background-repeat: no-repeat;
}
.search-input-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}
.search-input {
  width: 550px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  font-family: "Nanum Gothic", sans-serif;
}
.input-btn {
  background: url("./../imgs/input-btn.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  position: relative;
  right: 40px;
}
.reply-wrapper {
  border-bottom: 1px solid #6c757d;
  height: 270px;
}
.reply-container {
  margin-top: 10px;
  height: 200px;
  width: 100%;
  background-color: #fafafa;
  overflow-y: auto;
}
.replyList-comment {
  /* border: 1px solid blue; */
  height: 40px;
  width: 100%;
}
.more-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-btn {
  margin-top: 5px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: darkgray;
  font-weight: 800;
}
.textarea-container {
  margin-top: 20px;
  /* border: 1px solid red; */
  width: 100%;
  height: 200px;
}
.textarea-content {
  width: 100%;
  height: 60px;
  border: 1px solid darkgray;
  border-radius: 10px;
}
.register-btn-container {
  display: flex;
  justify-content: end;
}
.register-btn {
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: darkgray;
  font-weight: 800;
}
.reply-title {
  font-weight: 800;
}
