@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&family=Nanum+Gothic&family=Poor+Story&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Hi+Melody&family=Nanum+Gothic&family=Poor+Story&display=swap");
.back-img-wrapper {
  width: 100vw;
  position: relative;
  right: 100px;
}
.back-detail-img {
  width: 365px;
  height: 300px;
}
.back-detail-name {
  font-family: "SpoqaHanSans", "Noto Sans SC", "APPLE SD Gothic NEO",
    "sans-serif";
  font-size: 25px;
  border-bottom: 1px solid #6c757d;
  height: 120px;
  display: flex;
  align-items: center;
}
.back-detail-item-wrapper {
  height: 200px;
  font-size: 17px;
  border-bottom: 1px solid #6c757d;
  position: relative;
  top: 15px;
}

.back-detail-item-wrapper tr {
  margin-top: 10px;
}
.back-detail-item-name {
  color: #6c757d;
  cursor: no-drop;
}
.back-page {
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
}
.gu-container,
.re-container,
.back-container {
  border-bottom: 1px solid black;
}
.gu-name,
.re-name,
.back-name {
  padding: 25px;
  font-size: 30px;
  font-weight: 800;
  font-family: "Frank Ruhl Libre", serif;
}
/* .gu-wrapper,
.re-wrapper {
  display: flex;
  flex-direction: row;
  padding: 25px;
  margin-right: 50px;
  justify-content: space-around;
} */
.gu-list1,
.re-list1,
.back-list1 {
  cursor: pointer;
}
.gu-img,
.re-img,
.back-img {
  width: 180px;
  height: 110px;
  border-radius: 15px;
}
.gu-img:hover,
.re-img:hover,
.back-img:hover {
  transform: scale(1.2);
}
.gu-img:hover ~ p,
.re-img:hover ~ p,
.back-img:hover ~ p {
  text-decoration: underline;
  color: #ff2727;
}
.gu-title,
.re-title,
.back-title {
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 3px;
  font-family: "Pretendard", "Segoe UI", -apple-system, BlinkMacSystemFont,
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.re-address,
.back-address {
  font-size: 13px;
  position: relative;
  bottom: 10px;
}
/* 맛집 INPUT 창 */
.search-input-wrapper {
  background-image: url("./../imgs/inputbg.png");
  width: 100vw;
  height: 220px;
  background-position: 50% 60%;
  background-size: cover;
  background-repeat: no-repeat;
}
.search-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.search-input {
  width: 550px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  font-family: "Nanum Gothic", sans-serif;
}
.input-btn {
  background: url("./../imgs/input-btn.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  position: relative;
  right: 40px;
}
