@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

.editor-container {
  margin-top: 30px;
  border-bottom: 1px solid #dfdfdf;
}

.editor-title-wrapper {
  padding: 20px;
}
.editor-title {
  font-size: 30px;
  font-family: "Poor Story", cursive;
  font-weight: bold;
}
.editor-img {
  width: 150px;
  height: 150px;
  opacity: 0.9;
  border-radius: 10px;
}
.editor-wrapper {
  border-bottom: 1px solid #6c757d;
  margin-top: 15px;
}
.editor-item1 {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
}
.editor-item2 {
  font-size: 13px;
}
.editor-box {
  cursor: pointer;
}
.editor-box:hover {
  transform: scale(1.1);
  color: red;
}
.korean-container,
.western-container,
.chinese-container,
.japanese-container {
  display: flex;
}
