@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

.revise-wrapper {
  display: flex;
  justify-content: center;
}

.revise-container {
  position: fixed;
  flex-direction: column;
  align-items: flex-start;
  height: 580px;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px;
  border: 1px solid black;
  z-index: 999;
  background-color: #fff;
  border-radius: 10px;
}
.revise-title-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Poor Story", cursive;
}
.revise-title-item1 {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.revise-taste-daejeon {
  width: 50px;
  height: 50px;
  position: relative;
  left: 130px;
}
.revise-title {
  letter-spacing: 0px;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  width: 100%;
}
.revise-close-btn {
  width: 30px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  border: none;
  background-color: #fff;
}

.revise-body {
  border-bottom: 1px solid #dbdbdb;
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}

.revise-name {
  font-size: 15px;
  font-weight: 600;
}
#revise-jumin-container {
  position: relative;
  left: 37px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

#revise-email-container,
#revise-pw-container,
#revise-name-container,
#revise-num-container {
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.revise-jumin2-wrapper,
.revise-jumin1-wrapper {
  width: 197px;
}
.revise-btn-wrapper {
  display: flex;
  justify-content: center;
}
#revise-btn {
  position: relative;
  top: 3px;
  width: 400px;
}
.message {
  font-weight: bold;
  font-size: 10px;
}
.success {
  left: 10px;
  color: blue;
  font-size: 13px;
  font-weight: 800;
}
.error {
  position: relative;
  left: 10px;
  color: #ff2727;
  font-size: 13px;
  font-weight: 800;
}
.dontChangeEmail {
  color: #ff2727;
  font-size: 13px;
  position: relative;
  left: 40px;
  bottom: 5px;
}
