@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}
/* .container {
  max-width: 1000px;
} */
#main-page-container {
  overflow-x: hidden;
}
.main {
  position: relative;
}
.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.signup-bg {
  background-image: url("imgs/singupbg.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}
.bg-wrapper {
  margin: 0;
  width: 100%;
}
.TextField {
  border: none;
}
.bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
#loginCloseBtn {
  position: absolute;
  left: 400px;
  bottom: 298px;
}
.login-title-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.login-title {
  font-size: 20px;
  font-weight: 400;
  color: black;
  font-family: "Poor Story", cursive;
}
.login-close-btn {
  border: none;
  background-color: #fff;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  bottom: 3px;
}
.login-wrapper {
  background-color: white;
  border-radius: 10px;
  position: fixed;
  z-index: 999;
  width: 300px;
  height: 360px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}
.overflow {
  overflow-y: hidden;
}
.name-area {
  position: relative;
  bottom: 5px;
}
.date-area {
  position: relative;
  bottom: 18px;
}
.num-area {
  position: relative;
  bottom: 30px;
}
.TextField {
  border-radius: 20px;
  border: none;
  font-weight: bold;
}
.TextField:hover {
  outline: none;
}
#passWard-input {
  position: relative;
  top: 2px;
}
.FormControlLabel {
  color: white;
}
.MuiSvgIcon-root {
  color: white;
}
.findPw {
  cursor: pointer;
}
.black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
#modalCloseBtn {
  position: absolute;
  left: 395px;
  bottom: 285px;
  cursor: pointer;
}
.signup-title {
  border-bottom: 1px solid black;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poor Story", cursive;
}
#check-pw {
  margin-top: 12px;
}
.jumin-area {
  position: relative;
  bottom: 15px;
}
.check-md {
  display: flex;
  align-items: center;
}
.checkBtn {
  position: relative;
  bottom: 40px;
}
.pw-rule {
  font-size: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: red;
  height: 5px;
}

.login-wrapper {
  margin-top: 70px;
}
.message {
  font-weight: bold;
  font-size: 13px;
  margin-top: 10px;
}
.success {
  color: blue;
  font-size: 13px;
  font-weight: 800;
  cursor: none;
}
.error {
  color: #ff2727;
  font-size: 13px;
  font-weight: 800;
  cursor: none;
  position: relative;
  left: 10px;
}
.success-email {
  color: blue;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  bottom: 5px;
  cursor: none;
}
.error-email {
  color: #ff2727;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  bottom: 5px;
  cursor: none;
}
.success-email2 {
  color: blue;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  bottom: 8px;
  cursor: none;
}
.error-email2 {
  color: #ff2727;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  bottom: 8px;
  cursor: none;
}
.d-block {
  width: 100%;
  height: 400px;
  background-size: cover;
  cursor: pointer;
}

.signUp-footer-wrapper {
  border-top: 1px solid #6c757d;
}
