/* .main-bg {
  background-image: url("imgs/mainBg.png");
  height: 500px;
  width: 100vw;
  margin-top: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

.signup-bg {
  background-image: url("imgs/singupbg.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}
.bg-wrapper {
  margin: 0;
  width: 100%;
}
.TextField {
  border: none;
}
.bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
#loginCloseBtn {
  position: absolute;
  left: 400px;
  bottom: 298px;
}
.login-title {
  border-bottom: 1px solid black;
  font-size: 20px;
  font-weight: 400;
  color: black;
}
.login-wrapper {
  box-sizing: border-box;
  position: fixed;
  z-index: 999;
  width: 300px;
  height: 330px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}
.overflow {
  overflow-y: hidden;
}
.name-area {
  position: relative;
  bottom: 5px;
}
.date-area {
  position: relative;
  bottom: 18px;
}
.num-area {
  position: relative;
  bottom: 30px;
}
.TextField {
  border-radius: 20px;
  border: none;
  font-weight: bold;
}
.TextField:hover {
  outline: none;
}
#passWard-input {
  position: relative;
  top: 2px;
}
.FormControlLabel {
  color: white;
}
.MuiSvgIcon-root {
  color: white;
}
.findPw {
  cursor: pointer;
}
.black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
#modalCloseBtn {
  position: absolute;
  left: 395px;
  bottom: 285px;
  cursor: pointer;
}
.signup-title {
  border-bottom: 1px solid black;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
}
#check-pw {
  margin-top: 12px;
}
#date {
  color: #6c757d;
}
.check-md {
  display: flex;
  align-items: center;
}
.checkBtn {
  position: relative;
  bottom: 40px;
}
.pw-rule {
  font-size: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: red;
  height: 5px;
}

.login-wrapper {
  margin-top: 70px;
}
.message {
  font-weight: bold;
  font-size: 10px;
  margin-top: 10px;
}
.success {
  color: blue;
  font-size: 10px;
  font-weight: 800;
}
.error {
  color: #ff2727;
  font-size: 10px;
  font-weight: 800;
}
.success-email {
  color: blue;
  font-size: 10px;
  font-weight: 800;
  position: relative;
  bottom: 5px;
}
.error-email {
  color: #ff2727;
  font-size: 10px;
  font-weight: 800;
  position: relative;
  bottom: 5px;
}
.success-email2 {
  color: blue;
  font-size: 10px;
  font-weight: 800;
  position: relative;
  bottom: 8px;
}
.error-email2 {
  color: #ff2727;
  font-size: 10px;
  font-weight: 800;
  position: relative;
  bottom: 8px;
}
.d-block {
  width: 100%;
  height: 400px;
  background-size: cover;
  cursor: pointer;
}

/* footer */

.footer-wrap {
  min-width: 1070px;
  height: 208px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.first-footer {
  display: flex;
  justify-content: flex-start;
  padding: 15px 0px;
}
span,
a {
  margin-right: 10px;
  cursor: pointer;
}
.second-footer {
  display: flex;
}
.fourth-footer {
  display: flex;
  justify-content: space-between;
}
.meal-title {
  font-weight: 800;
  text-decoration: none;
  color: inherit;
}
.gray {
  color: #e9e9e9;
}

@media screen and (max-width: 1070px) {
  .TodaysMeal {
    display: none;
  }
}
.hidden {
  display: none;
}
@media screen and (max-width: 1030px) {
  .hidden {
    display: block;
    color: #ff2727;
    font-weight: bold;
    font-size: 20px;
    font-family: "cursive";
  }
}
/* 맛집 INPUT 창 */
.search-input-wrapper {
  background-image: url("imgs/inputbg.png");
  width: 100vw;
  height: 220px;
  background-position: 50% 60%;
  background-size: cover;
  background-repeat: no-repeat;
}
.search-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.search-input {
  width: 550px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
}
.input-btn {
  background: url("imgs/input-btn.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  position: relative;
  right: 40px;
}
/* FoodList 창 */

.gu-container,
.re-container,
.back-container {
  border-bottom: 1px solid black;
}
.gu-name,
.re-name,
.back-name {
  padding: 25px;
  font-size: 30px;
  font-weight: 800;
  font-family: "Pretendard", "Segoe UI", -apple-system, BlinkMacSystemFont,
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* .gu-wrapper,
.re-wrapper {
  display: flex;
  flex-direction: row;
  padding: 25px;
  margin-right: 50px;
  justify-content: space-around;
} */
.gu-list1,
.re-list1,
.back-list1 {
  cursor: pointer;
}
.gu-img,
.re-img,
.back-img {
  width: 180px;
  height: 110px;
  border-radius: 15px;
}
.gu-img:hover,
.re-img:hover,
.back-img:hover {
  transform: scale(1.2);
}
.gu-img:hover ~ p,
.re-img:hover ~ p,
.back-img:hover ~ p {
  text-decoration: underline;
  color: #ff2727;
}
.gu-title,
.re-title,
.back-title {
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 3px;
  font-family: "Pretendard", "Segoe UI", -apple-system, BlinkMacSystemFont,
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.re-address,
.back-address {
  font-size: 10px;
  position: relative;
  bottom: 10px;
}

/* 백종원 페이지 */
.back-img-wrapper {
  width: 100vw;
  position: relative;
  right: 100px;
}
.back-detail-img {
  width: 365px;
  height: 300px;
}
.back-detail-name {
  font-family: "SpoqaHanSans", "Noto Sans SC", "APPLE SD Gothic NEO",
    "sans-serif";
  font-size: 25px;
  border-bottom: 1px solid #6c757d;
  height: 120px;
  display: flex;
  align-items: center;
}
.back-detail-item-wrapper {
  height: 200px;
  font-size: 17px;
  border-bottom: 1px solid #6c757d;
  position: relative;
  top: 15px;
}

.back-detail-item-wrapper tr {
  margin-top: 10px;
}
.back-detail-item-name {
  color: #6c757d;
  cursor: no-drop;
}
.back-page {
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
}
